{{>layout/header}}
    <h1>&nbsp&nbspSpring boot Restful api 등록</h1><p><br></p>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글등록</a>
            </div>
        </div>
{{#userName}}<!--true fals-->
    Logged in as : <span id ="user">{{userName}}</span>
    <a href = "/logout" class ="btn btn-info active" role="button">Logout</a><!--스프링 시큐리티 제공 -->
{{/userName}}
{{^userName}}<!--값이 없을때-->
<p><br></p>
    <a href="/oauth2/authorization/google" class="btn btn-primary active" role="button">
        Google Login
    </a><!--스프링 시큐리티 제공 -->

    <a href="/oauth2/authorization/naver" class="btn btn-primary active" role="button">
        Naver Login
    </a><!--스프링 시큐리티 제공 -->


{{/userName}}
<p><br></p>
        <!--출력영상-->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
                <tr>
                    <th>게시글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>최종수정일</th>
                </tr>
            </thead>
                <tbody id="tbody">
                {{#posts}} <!--posts 리스트-->
                    <tr>
                        <td>{{id}}</td>
                        <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                        <td>{{author}}</td>
                        <td>{{modifiedDate}}</td>
                    </tr>
                {{/posts}}
                </tbody>
        </table>
    </div>
{{>layout/footer}}
